.article {
  margin:10px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  text-decoration: none;
  background-color: #fff;
  border:1px;
}

.text-title {
  color:#333;
  font-size: 13px;
  text-decoration: none;
}

.text-author {
  color:#999;
}
.article:hover {
  background-color: #fafafa ;
}

.trash{
  margin-right: 20px;
}

.trash:hover{
  cursor: pointer;
}

.text-date{
  margin-right: 5vw;
}
