<!-- <span *ngIf="article !== null">{{article.title}}</span> -->
<!-- <a href="{{article.url}}"> <span>{{article.author}}</span></a> -->
<div class="article" *ngIf="article !== null">

  <a class="text-title" href="{{article.url}}" target="_blank">{{article.title}}  <small class="text-author">  - {{article.author}} -  </small></a>

  <div>
    <span class="text-date">{{article.externalTimestamp | dateCustom}}</span>
    <span class="trash" (click)="obtainedIdArticleForRemove(article._id)"><i class="fa-solid fa-trash"></i></span>
  </div>

</div>

