.header {
  display: flex;
  align-items: center;
  background-color:#232323;
  color: #fff;
  height: 40vh;
  padding-left: 25px;
}

.header  h1 {
  font-size: 15vh;
  font-weight: 700;
}

.header p {
  font-size: 4vh;
}
